<li [ngClass]=  "{  'list-group-item': true,
                    'list-group-item-success': postLikeIts > 0,
                    'list-group-item-danger': postLikeIts < 0}">
    <h2><strong>{{postTitle}}</strong>
        <small class="text-muted" style= float:right>{{postDate | date: 'short'}}</small>
    </h2>
    <h4>{{postContent}}</h4>
    <button class= "btn btn-success"
            (click)="onLoveIt()"> Love It !</button>
    <button class= "btn btn-danger"
            (click)="onDontLoveIt()"> Don't love It !</button>
    
</li>